.container {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.5rem;
  row-gap: 1.3rem;
  padding-left: 2rem;
}

.label {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.3rem;
  font-size: 18px;
  font-weight: 500;
  color: var(--clr-secondary-2);
  margin-left: 0.5rem;
  overflow-x: hidden;
}

.labelDisabled {
  color: #aaa1a1;
}

.input {
  width: 100%;
  border: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--clr-primary-2);
  font-size: var(--fs-text);
  font-weight: 400;
  color: #4a4a4a;
  padding: 0.3rem 0.6rem;
  outline: none;
  margin-left: -0.5rem;
}

.input::placeholder {
  font-size: 14px;
  font-weight: 300;
}

.input:disabled {
  color: #aaa1a1;
  user-select: none;
  font-weight: 400;
}

.inputDisabled {
  color: #aaa1a1;
  user-select: none;
  font-weight: 400;
}


.selectContainer {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: -0.5rem;
  padding: 0.3rem 0.5rem;
}

.select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background-color: #fff;
  border: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--clr-primary-2);
  font-size: var(--fs-text);
  font-weight: 400;
  color: #4a4a4a;
  outline: none;
  cursor: pointer;
}

.select::-ms-expand {
  display: none;
}

.select:disabled {
  user-select: none;
  -webkit-user-modify: read-only;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.icon {
  position: absolute;
  right: 1rem;
  color: var(--clr-primary-2);
}

/* mobile styles */
.buttonContainer {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.saveButton {
  width: 100%;
  height: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.6rem;
  border: none;
  background-color: var(--clr-primary-1);
  color: var(--clr-primary-2);
  font-family: var(--ff-one);
  font-weight: 600;
  font-size: 18px;
  margin-top: 2.5rem;
  user-select: none;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.saveButton:hover {
  opacity: 0.9;
}

.buttonsContainer {
  width: 100%;
  border-bottom: 1px solid var(--clr-primary-2);
  padding: 0.3rem 0.5rem;
  margin-left: -0.5rem;
  overflow-x: auto;
  white-space: nowrap; 
  display: flex;
  align-items: center;
}

.toogle {
  display: none;
}

.register__input__toogle {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
  height: 15%;
}

.register__toogles__buttons {
  background-color: #e8e8e8;
  height: 35px;
  border-radius: 20px;
  color: #fff;
  overflow: hidden;
  margin-right: 10px;
}

.switch {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.slider.round {
  color: white;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch input {
  display: none;
}

.slider {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.genderButton {
  min-width: 7rem;
  width: 7rem;
  height: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  background-color: #e8e8e8;
  border: none;
  color: var(--clr-secondary-2);
  font-family: var(--ff-one);
  font-size: 12px;
  font-weight: 600;
  transition: all 350ms ease-in;
  cursor: pointer;
  user-select: none;
}