    .footer {
      display: flex;
      background-image: url("https://firebasestorage.googleapis.com/v0/b/c16-ronda.appspot.com/o/imagenes%2FmobileFooterBackground.png?alt=media&token=6cd5dce4-7f30-48cb-bec8-6416a3721de6");
      height: 450px;
      align-items: center;
      font-family: var(--font);
      color: var(--titulos);
      flex-direction: column;
      align-content: center;
      padding: 0%;
      margin: 0%;
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
    }

    .footer__title {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 90%;
    }

    .footer__body {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-content: center;
      align-items: center;
    }

    .footer__body__contact {
      display: flex;
      gap: 0% 2%;
      width: 100%;
      align-items: center;
      font-size: 16px;
      height: 100%;
      margin: 1% 0%;
    }

    .footer__body__contact__icon {
      height: 48px;
      display: flex;
      width: 48px;
      justify-content: center;
      align-items: center;
    }

    .footer__text {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      flex-wrap: nowrap;
    }

    .footer__text * {
      margin: 0%;
      padding: 0%;
    }

    hr {
      background-color: #F17D58;
      width: 100%;
      height: 3px;
    }

    .footer__line {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .footer__logo {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0% 5%;
    }

    .footer__icon__mobile{
      display: block;
    }
    .footer__icon__web{
      display: none;
    }

.icon{
  font-size: 22px;
  color: #333333;
}


    .footer__footer * {
      margin: 0%;
    }

    .footer__footer__logo {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @media only screen and (min-width: 775px) {
      .footer {
        background-image: url("https://firebasestorage.googleapis.com/v0/b/c16-ronda.appspot.com/o/imagenes%2FtablerFooterBackground%201.png?alt=media&token=96b19fad-32c6-4d10-a310-1503399d41d8");
        height: 500px;
    justify-content: center;
      }
      .footer__title{
        margin: 6%;

      }
    }

    @media only screen and (min-width: 992px) {
      .footer__title {
        width: 100%;
        justify-content: space-evenly;
      }

      .footer {
        background-image: url("https://firebasestorage.googleapis.com/v0/b/c16-ronda.appspot.com/o/imagenes%2FBackground.png?alt=media&token=93ff18ef-5898-4e22-bc1f-9cdb402341e3");
        height: 23.25rem;
        align-items: center;
        width: 100%;
        height: 450px;
      }

      .footer__body {
        flex-direction: row;
        justify-content: center;
        gap: 0% 5%;
        padding-top: 10%
      }

      .footer__body__contact {
        display: flex;
        gap: 0% 2%;
        width: 22%;
        align-items: center;
        font-size: 16px;
      }

      .footer__text {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: nowrap;
      }

      .footer__text * {
        height: 1%;
        margin: 0%;
        padding: 0%;
      }

      .footer__logo {
        display: flex;
        justify-content: center;
        gap: 0% 3%;
        margin: 1%;
      }
      .footer__icon__mobile{
        display: none;
      }
      .footer__icon__web{
        display: block;
      }

      hr{
        width: 65%;
      }


      .footer__footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 1%;

        align-items: center;
      }

    
    }