/* mobile styles */
.cardContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
  border: 1px solid #d9d9d9;
  border-radius: 0.7rem;
  font-family: var(--ff-one);
}

.cardImage {
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
  border-radius: 0.7rem;
  object-fit: cover;
}

.textBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin-top: 0.9rem;
  font-family: var(--ff-one);
  padding-left: 0.6rem;
}

.title {
  font-size: 22px;
  font-weight: 400;
  color: var(--clr-primary-2);
  margin-bottom: 0.9rem;
}

.description {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0.8rem;
  height: 3rem;
  line-clamp: 2;
  text-overflow: clip;
  overflow: hidden;
  text-wrap: pretty;
}

.duration {
  font-size: var(--fs-text);
  font-weight: 500;
  color: var(--clr-primary-2);
  margin-bottom: 0.8rem;
}

.durationSpan {
  color: var(--clr-secondary-2);
  font-weight: 400;
}

.date {
  font-size: var(--fs-text);
  font-weight: 400;
  color: var(--clr-primary-2);
}

@media (min-width: 576px) {
  .cardContainer {
    grid-column: span 6;
  }
}

/* PC styles */
@media (width > 920px) {
  .cardContainer {
    padding: 0.6rem 1.4rem;
/*     border: none;
    -webkit-box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.14);
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.14); */
  }

  .textBox {
    padding-left: 1rem;
  }

  .title {
    font-size: var(--fs-title);
  }

  .description {
    font-size: var(--fs-text);
  }

  .duration {
    font-size: 1rem;
  }

  .date {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}
