/* PC styles */
.container {
  width: 83%;
  min-height: 100dvh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding-inline: 4%;
  padding-top: 4%;
  background-color: #fff;
  font-family: var(--ff-one);
}

.wrapper {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.saveButtonContainer {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* long screen styles */
@media (width > 1700px) {
  .container {
    max-width: 55%;
  }
}
