/* PC styles */
.container {
  position: relative;
  width: 83%;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-inline: 4%;
  padding-top: 4%;
}

.wrapper {
  width: 100%;
  margin-top: 1.5rem;
}

.imageContainer {
  width: fit-content;
  height: fit-content;
  border-radius: 0.8rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
}

.span {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--clr-secondary-1);
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-primary-2);
  cursor: pointer;
  pointer-events: none;
}

.inputImage {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 0;
  z-index: 10;
  opacity: 0;
  margin-bottom: 0.8rem;
  cursor: pointer;
}

.description {
  width: 25rem;
  height: 3rem;
  overflow: scroll;
  background-color: #fff;
  font-size: var(--fs-text);
  font-weight: 400;
  color: var(--clr-secondary-2);
  border: none;
  outline: none;
  scrollbar-gutter: stable;
  resize: none;
  scrollbar-width: none;
}

.input {
  background-color: #fff;
  font-size: var(--fs-text);
  font-weight: 400;
  color: var(--clr-secondary-2);
  border: none;
  outline: none;
  width: 7rem;
}

.link {
  background-color: #fff;
  font-size: var(--fs-text);
  font-weight: 400;
  color: var(--clr-secondary-2);
  border: none;
  outline: none;
  width: 11rem;
  overflow-x: scroll;
  scrollbar-gutter: stable;
  resize: none;
  scrollbar-width: none;
}

.link::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.link::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.description::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.description::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.buttonContainer {
  position: absolute;
  bottom: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* long screen styles */
@media (width > 1700px) {
  .container {
    max-width: 55%;
    margin-inline: auto;
  }
}
