.button__back {
  background-color: transparent;
  border: none;
  margin: 5% 0% 0% 5%;
  font-size: 37px;
  color: var(--clr-primary-2);
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50rem;
  font: var(--tx-mobile-one);
  margin-top: 5%;
  background-color: #fff;
}

h2 {
  font: var(--tx-desktop-one);
  margin-bottom: 5%;
  font-size: 35px;
  font-weight: var(--fs-inp);
  color: var(--clr-primary-2);
}

.register__inputgroup {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}
.register__input {
  width: 80%;
  height: 10%;
  display: flex;
  flex-direction: column;
  gap: 10% 0%;
}
.register__input {
  border-bottom: 1px solid var(--clr-primary-2);
  width: 70%;
}
label{
  font: var(--ff-one);
  font-weight: 500;
}
input {
  border: none;
  display: flex;
  align-items: center;
  width: 80%;
  align-items: center;
  height: 37px;
  cursor: pointer;
  font: var(--tx-mobile-one);
}
label{
  cursor: pointer;
}
input:focus {
  outline: #787575;
}
select {
  width: 350rem;
  border: none;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/c16-ronda.appspot.com/o/iconos%2FVector.svg?alt=media&token=cd044697-8b70-46e0-b0fa-aafd69945b1d");
  background-position: right center;
  background-repeat: no-repeat;
  appearance: none;
  cursor: pointer;
  height: 37px;
}
select:focus {
  outline: #787575;
}
.register__input__button {
  display: flex;

}
.register__input__button__calendar{
  display: flex;
  flex-direction: column;
  width: 45px;
  align-items: center;
  justify-content: center;
}
.register__input__button__img {
  height: 37px;
  text-align: center;
  display: flex;
  font-size: 24px;
  color: var(--clr-primary-2);
  align-items: center;
  justify-content: space-between;
}

.register__button {
  display: flex;
  flex-direction: column;
  height: 20%;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
}
.register__button button {
  width: 100%;
  height: 42px;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
}
.register__buttons__pink {
  background-color: var(--clr-primary-1);
  color: #fff;
  border: none;
}
.register__buttons__outline {
  border: 1px solid var(--clr-primary-2);
  background-color: transparent;
  color: var(--clr-primary-2);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
}

.register__footer {
  height: 3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1%;
}

.register__refer a {
  color: var(--clr-primary-2);
  text-decoration: none;
}
@media (min-width: 992px) {
  .register {
    height: 41rem;
  }
  .register__descktop {
    background-color: #fff;
    width: 30rem;
    height: 55rem;
    border-radius: 20px;
  }
}
.toogle {
  display: none;
}
.register__toogles {
  height: 38px;
  width: 38px;
  background-color: #fff;
}
.register__input__toogle {
  display: flex;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 15%;
}

.register__toogles__buttons {
  background-color: #e8e8e8;
  width: 126px;
  height: 35px;
  border-radius: 20px;
  color: #fff;
  overflow: auto;
}

.switch {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.register__buttons__pink {
  background-color: var(--clr-primary-1);
  color: #fff;
  border: none;
  width: 120px;
  height: 42px;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
}

.register__remenber {
  display: flex;
  width: 80%;
}
.register__remenber__input {
  display: flex;
  width: 20%;
  height: 34px;
  justify-content: center;
  align-items: center;
}


.custom-checkbox{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%; /* Hace que el checkbox sea redondo */
  border: 2px solid #06786d ; /* Color del borde del checkbox */
  background-color: #fff; /* Color de fondo del checkbox */
  outline: none;
  cursor: pointer;
  vertical-align: middle;
  

}
.custom-checkbox:checked {
  background: #fff; 
  background-image: url('https://firebasestorage.googleapis.com/v0/b/c16-ronda.appspot.com/o/iconos%2Fcheck.svg?alt=media&token=cd538443-229c-4ca6-ae57-9d4961e90e04');
  background-size: cover;
  background-position: center;

}
.register__calendar{
  position: absolute;
  z-index: 2;
  top: 34%;
  right: 20%;

}
.toggle__calendar{
  appearance: none;
  border: none;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/c16-ronda.appspot.com/o/iconos%2Fcalendar.svg?alt=media&token=b455ed59-2864-4d2a-b385-40e6d80d55de');
  background-size: cover;
  
}
@media (min-width: 576px) {
  .register__calendar{
top: 38%;
    right: 25%;


    }
}


@media (min-width: 992px) {
  .register {
    height: 50rem;
  }
  input{
    font: var(--tx-desktop-one);
  }

  .register__calendar{
    top: 37%;
    right: 33%;


  }

}
@media (min-width: 1400px) {
  .register__calendar{

    right: 41%;
    
      }
}




