.main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 5px;

  font-family: var(--font);
  box-sizing: border-box;
}

.section_switch {
  grid-column: 1/-1;
}

.welcome_title {
  text-align: center;
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 14px;
}

.welcome_p {
  text-align: center;
  font-size: 18px;
}

/*----------------Estilos Seccion Banner*/

.section_banner {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background-color: var(--clr-secondary-1);

  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.image_container {
  grid-column: 1/-1;
  grid-row: 1/-1;
  max-width: 100%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.modal_conteiner {
  grid-column: 2/-2;
  grid-row: 2/5;
  /* background-color: rgba(200, 23, 23, 0.8); */
  align-items: center;
}

.text_container{
  grid-column: 2/-2;
  grid-row: 2/2;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  align-items: center;
}

.title_uniendo {
  text-align: left;
  font: var(--t-mobile);
}

.title_cuidadores {
  text-align: left;
  font: var(--t-mobile-two);
  color: var(--clr-primary-2);
}

.text_banner {
  text-align: left;
  font: var(--tx-mobile-one);
}

#modal_button {
  font: var(--tx-mobile-two);
  color: var(--clr-primary-2);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  border: 1px solid var(--clr-primary-2);
  cursor: pointer;
}

#modal_button:hover {
  font: var(--tx-mobile-two);
  color: white;
  background-color: var(--clr-primary-2);
  border-radius: 10px;
  border: 1px solid var(--clr-primary-2);
  cursor: pointer;
}

@media (min-width: 601px) {
  .section_switch {
    display: flex;
    flex-direction: column-reverse;
  }

  .welcome_section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 5px;

    margin-top: 50px;
  }

  .welcome_title {
    grid-column: 2/-2;

    text-align: left;
    font-weight: 400;
    font-size: clamp(35px, 4vw, 64px);
    color: var(--principal);
  }

  .welcome_p {
    grid-column: 2/-2;

    font-size: clamp(11.5px, 2vw, 26px);
    font-weight: 400;
    text-align: left;
  }

  .section_card_modal {
    display: grid;
    gap: 5px;
    margin-top: 50px;
    text-align: center;
    aspect-ratio: 16/9;
    width: 100%;
    display: grid;
    place-items: center;
    margin: 5% 0% 0% 0%;
    background-position: center;
    background-size: cover;
  }

  .card_modal_text {
    padding: 5px 5px;
    margin: 0 auto;
  }

  #modal_button {
    padding: 5px 5px;
    margin: 0 auto;
  }
}

@media (min-width: 1290px) {
  .welcome_section {
    margin-top: 90px;
  }
}

/* ------------------------- Home card Section start */

.home_cards {
  grid-column: 2/-2;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 5px;
  padding: 50px 0px;
}

.academia {
  padding: 15px 23px;
  border-radius: 30px;
  grid-column: 1/5;
  border: 2px solid var(--secundario);
  background-color: rgba(241, 125, 88, 0.1);
  box-shadow: 0px 3px 13px -6px rgba(6, 120, 109, 0.6);
  -webkit-box-shadow: 0px 3px 13px -6px rgba(6, 120, 109, 0.6);
  -moz-box-shadow: 0px 3px 13px -6px rgba(6, 120, 109, 0.6);
}

.foro {
  padding: 15px 23px;
  border-radius: 30px;
  grid-column: 7/-1;
  background-color: #fff;
  border: 2px solid var(--principal);
  box-shadow: 0px 3px 13px -6px rgba(6, 120, 109, 0.6);
  -webkit-box-shadow: 0px 3px 13px -6px rgba(6, 120, 109, 0.6);
  -moz-box-shadow: 0px 3px 13px -6px rgba(6, 120, 109, 0.6);
}

.cards_p {
  text-align: left;
  margin-top: 1rem;
  font-size: clamp(0.4rem, 1.5vw, 1.3rem);
}

.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  text-decoration: none;
}

.arrow_btn {
  width: 30px;
  height: 30px;
  background-image: url('/assets/arrow-left.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border: inherit;
}

.text_link {
  font-weight: 600;
  text-transform: capitalize;
  font-size: clamp(0.7rem, 1.7vw, 1.5rem);
  color: var(--principal);
}

@media (min-width: 900px) {
  .home_cards {
    display: flex;
    flex-direction: row;
    gap: 8%;
    padding: 70px 0px;
  }

  .academia {
    flex: 1;
    padding: 45px 65px;
    box-shadow: none;
  }

  .foro {
    flex: 1;
    padding: 45px 65px;
    box-shadow: none;
  }

  .link {
    margin-top: 27px;
  }

  .card_modal {
    padding: 50px 20px;
  }

  .card_modal_text {
    padding: 5px 5px;
    margin: 0 auto;
  }

  #modal_button {
    padding: 5px 5px;
    margin: 0 auto;
  }
}

@media (min-width: 1280px) {
  .main {
    max-width: 1280px;
    margin: 0 auto;
  }

  .academia {
    padding: 55px 90px;
  }

  .foro {
    padding: 55px 90px;
  }

  .link {
    margin-top: 30px;
  }

  .card_modal {
    padding: 50px 20px;
  }

  .card_modal_text {
    padding: 5px 5px;
    margin: 0 auto;
  }

  #modal_button {
    padding: 5px 5px;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .academia {
    display: flex;
    flex-direction: column;
    padding: 10px 17px;
    background-color: #fff;
    border: 2px solid var(--principal);
  }

  .foro {
    display: flex;
    flex-direction: column;
    padding: 10px 17px;
    border: 2px solid var(--secundario);
    background-color: rgba(241, 125, 88, 0.1);
  }

  .arrow_btn {
    width: 20px;
    height: 20px;
    background-image: url('/assets/homeSVG/angle-right.svg');
  }

  .text_link {
    color: var(--principal);
  }

  .section_card_modal {
    flex-direction: column-reverse;
    padding: 20px 0px;
  }

  .card_modal {
    padding: 20px 25px;
  }

  .card_modal_text {
    padding: 5px 5px;
    margin: 0 auto;
    margin: 0%;
  }

  #modal_button {
    padding: 5px 5px;
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    font-family: var(--font);
    padding: 30px;
  }

  .home_cards {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
  }

  .academia {
    padding: 30px 37px;
    border-radius: 30px;
    margin-bottom: 30px;
    background-color: #fff;
    border: 2px solid var(--principal);
  }

  .foro {
    padding: 30px 37px;
    border-radius: 30px;
    border: 2px solid var(--secundario);
    background-color: rgba(241, 125, 88, 0.1);
  }

  .arrow_btn {
    width: 30px;
    height: 30px;
  }

  .link {
    margin: 0 0 10px 0;
  }

  .text_link {
    font-size: 23px;
  }

  .cards_p {
    text-align: left;
    font-size: var(--p);
    line-height: var(--lh-p);
  }

  .card_modal {
    padding: 20px 25px;
  }

  .card_modal_text {
    width: 100%;
    padding: 5px 5px;
    margin: 0% !important;
  }

  #modal_button {
    padding: 5px 5px;
    margin: 0 auto;
  }
}

/* ------------------------- Home card Section End */