.main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 5px;

  font-family: var(--ff-one);
  box-sizing: border-box;
}

.section {
  margin: 10px;
  padding: 20px;
  text-align: center;
  grid-column: 1/-1;
}

/* ------------------- Banner Section */

.section_banner {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-color: var(--clr-secondary-1);

  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-bottom: 20px;
}

.image_container {
  grid-column: 1/-1;
  grid-row: 1/-1;
  max-width: 100%;

  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.text_container {
  grid-column: 2/-2;
  grid-row: 2/-2;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);

}

.text_banner {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  align-items: center;
  grid-column: 1/-1;
  grid-row: 1/3;
  padding-top: 20px;
}

.title_uniendo {
  font: var(--t-mobile-four);
}

.title_cuidadores {
  font: var(--t-mobile-two);
  color: var(--clr-primary-2);
}

.detail_banner {
  text-align: center;
  font: var(--tx-mobile-one);
  margin: 20px;
}

#modal_button {
  font: var(--tx-mobile-three);
  color: var(--clr-primary-2);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  border: 1px solid var(--clr-primary-2);
  cursor: pointer;
  grid-column: 2/-2;
  grid-row: 3/-1;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

#modal_button:hover {
  font: var(--tx-mobile-three);
  color: white;
  background-color: var(--clr-primary-2);
  border-radius: 10px;
  border: 1px solid var(--clr-primary-2);
  cursor: pointer;
  grid-column: 2/-2;
  grid-row: 3/-1;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* ------------------- Welcome Section */

.welcome_title {
  text-align: center;
  font: var(--t-mobile-three);
  color: var(--clr-primary-2);
  letter-spacing: 4px;
  margin-bottom: 14px;
}

.welcome_p {
  text-align: center;
  font: var(--tx-mobile-one);
}

/* ------------------- Home Card Section */

.home_cards {
  grid-column: 2/-2;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 5px;
  padding: 50px 0px;
}

.academia {
  padding: 15px 23px;
  border-radius: 30px;
  grid-column: 1/5;
  border: 2px solid var(--clr-secondary-3);
  background-color: var(--clr-secondary-3);
}

.foro {
  padding: 15px 23px;
  border-radius: 30px;
  grid-column: 7/-1;
  background-color: #fff;
  border: 2px solid var(--clr-secondary-1);
}

.cards_p {
  text-align: left;
  margin-top: 1rem;
  font-size: clamp(0.4rem, 1.5vw, 1.3rem);
}

.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  text-decoration: none;
}

.arrow_btn {
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  color: var(--clr-primary-2);
  border: inherit;
}

.text_link {
  font: var(--tx-desktop-two);
  color: var(--clr-primary-2);
}

/* ------------------- Pantalla Pequeña */

@media (max-width: 500px) {

  .main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    font-family: var(--font);
    padding: 30px;
  }

  /* ------------------- Home Card Section */

  .home_cards {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
  }

  .academia {
    padding: 30px 37px;
    border-radius: 30px;
    margin-bottom: 30px;
    background-color: #fff;
    border: 2px solid var(--clr-secondary-1);
  }

  .foro {
    padding: 30px 37px;
    border-radius: 30px;
    border: 2px solid var(--clr-secondary-3);
    background-color: var(--clr-secondary-3);
  }

  .arrow_btn {
    width: 30px;
    height: 30px;
  }

  .link {
    margin: 0 0 10px 0;
  }

  .text_link {
    font-size: 23px;
  }

  .cards_p {
    text-align: left;
    font-size: var(--p);
    line-height: var(--lh-p);
  }
}

/* ------------------- Pantalla Mediana */

@media (min-width: 576px) {

  /* ------------------- Banner Section */

  


  /* ------------------- Welcome Section */

  .welcome_section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 5px;

    margin-top: 50px;
  }

  .welcome_title {
    grid-column: 2/-2;
    text-align: center;

    font: var(--t-mobile-five);
    color: var(--clr-primary-2);
  }

  .welcome_p {
    grid-column: 2/-2;
    font: var(--tx-desktop-one);
  }

  /* ------------------- Home Card Section */

  .academia {
    display: flex;
    flex-direction: column;
    padding: 10px 17px;
    background-color: #fff;
    border: 2px solid var(--clr-secondary-3);
    background-color: var(--clr-secondary-3);
  }

  .foro {
    display: flex;
    flex-direction: column;
    padding: 10px 17px;
    border: 2px solid var(--clr-secondary-1);
  }

  .arrow_btn {
    width: 20px;
    height: 20px;
  }

  .text_link {
    color: var(--clr-primary-2);
    font-size: 23px;
  }

}

@media (min-width: 760px) {

  /* ------------------- Banner Section */

  .section_banner {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);

    border-radius: 30px;
    margin-top: 20px;
  }

  .image_container {
    grid-column: 1/6;
    grid-row: 1/-1;
    max-width: 100%;

    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 0px;
  }

  .text_container {
    grid-column: 7/-2;
    grid-row: 1/-1;
  }

  .text_banner {
    border-radius: 30px;
  }

  .title_uniendo {
    font: var(--t-mobile-four);
  }

  .title_cuidadores {
    font: var(--t-mobile-two);
  }

  .detail_banner {
    text-align: left;
    font: var(--tx-mobile-one);
    margin: 30px;
  }

  #modal_button {
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px;
  }

  #modal_button:hover {
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px;
  }
}

/* ------------------- Pantalla Grande */

@media (min-width: 992px) {

  .main {
    max-width: 1290px;
    margin: 0 auto;
  }

  /* ------------------- Banner Section */
  
  .title_uniendo {
    font: var(--t-mobile-six);
    letter-spacing: 2px;
  } 

  .title_cuidadores {
    font: var(--t-mobile-five);
    letter-spacing: 2px;
  }

  .detail_banner {
    font: var(--tx-desktop-four);
  }

  /* ------------------- Welcome Section */

  .welcome_p {
    font: var(--tx-desktop-three);
  }
  .welcome_title {
    font: var(--t-desktop-two);
  }

  /* ------------------- Home Card Section */

  .home_cards {
    display: flex;
    flex-direction: row;
    gap: 8%;
    padding: 70px 0px;
  }

  .academia {
    flex: 1;
    padding: 45px 65px;
    box-shadow: none;
  }

  .foro {
    flex: 1;
    padding: 45px 65px;
    box-shadow: none;
  }

  .link {
    margin-top: 30px;
  }

  .arrow_btn {
    width: 30px;
    height: 30px;
  }
}

/* ------------------- Pantalla Extra-Grande */


@media (min-width: 1200px) {

/* ------------------- Banner Section */

  .text_banner {
    padding-left: 30px;
    margin-top: 20px;
    text-align: left;
  }

  .title_uniendo {
    font: var(--t-desktop-four);
    letter-spacing: 4px;
  }

  .title_cuidadores {
    font: var(--t-desktop-five);
    letter-spacing: 4px;
  }

  .detail_banner {
    margin-left: 0px;
  }

}
@media (min-width: 1290px) {

/* ------------------- Banner Section */
  
  .title_uniendo {
    font: var(--t-desktop-one);
  }

  .title_cuidadores {
    font: var(--t-desktop-two);
  }

  .detail_banner {
    font: var(--tx-desktop-four);
  }

  #modal_button {
    font: var(--tx-desktop-two);
  }

  #modal_button:hover {
    font: var(--tx-desktop-two);
  }
}

@media (min-width: 1400px) {

  .main {
    max-width: 1400px;
    margin: 0 auto;
  }
}