.main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 5px;

  font-family: var(--ff-one);
  box-sizing: border-box;
}

.section {
  margin: 10px;
  padding: 20px;
  text-align: center;
  grid-column: 1/-1;
}

/* ------------------- Banner Section */

.section_card_modal {
  margin: 5px;
  background-color: var(--clr-secondary-1);
  padding: 20px;
  text-align: center;
  aspect-ratio: 16/9;
  width: 100%;
  display: grid;
  place-items: center;
  border-radius: 30px;
}

.card_modal {
  text-align: center;
  padding: 50px 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  width: 73%;
}

.card_modal_text {
  width: 62%;
  gap: 30px;
  padding: 1%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card_title {
  text-align: left;
  width: 100%;
  font-weight: 600;
  font-size: clamp(0.7rem, 1.7vw, 1.5rem);
  color: black;
}

.card_text {
  text-align: left;
  width: 100%;
  font-weight: 400;
  font-size: clamp(0.7rem, 1.7vw, 1.5rem);
  color: black;
}

#modal_button {
  height: 42px;
  width: 61%;
  font-family: var(--font);
  font-weight: 600;
  font-size: clamp(0.7rem, 1.7vw, 1rem);
  color: var(--clr-primary-2);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  border: 2px solid var(--clr-primary-2);
  cursor: pointer;
}

#modal_button:hover {
  height: 42px;
  width: 61%;
  font-family: var(--font);
  font-weight: 600;
  font-size: clamp(0.7rem, 1.7vw, 1rem);
  color: white;
  background-color: var(--clr-primary-2);
  border: 2px solid var(--clr-primary-2);
  border-radius: 10px;
  cursor: pointer;
}

/* ------------------- Welcome Section */

.welcome_title {
  text-align: center;
  font: var(--t-mobile-three);
  color: var(--clr-primary-2);
  letter-spacing: 4px;
  margin-bottom: 14px;
}

.welcome_p {
  text-align: center;
  font: var(--tx-mobile-one);
}

/* ------------------- Home Card Section */

.home_cards {
  grid-column: 2/-2;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 5px;
  padding: 50px 0px;
}

.academia {
  padding: 15px 23px;
  border-radius: 30px;
  grid-column: 1/5;
  border: 2px solid var(--clr-secondary-3);
  background-color: var(--clr-secondary-3);
}

.foro {
  padding: 15px 23px;
  border-radius: 30px;
  grid-column: 7/-1;
  background-color: #fff;
  border: 2px solid var(--clr-secondary-1);
}

.cards_p {
  text-align: left;
  margin-top: 1rem;
  font-size: clamp(0.4rem, 1.5vw, 1.3rem);
}

.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  text-decoration: none;
}

.arrow_btn {
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  color: var(--clr-primary-2);
  border: inherit;
}

.text_link {
  font: var(--tx-desktop-two);
  color: var(--clr-primary-2);
}

/* ------------------- Pantalla Pequeña */

@media (max-width: 500px) {

  .main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    font-family: var(--font);
    padding: 30px;
  }

  /* ------------------- Banner Section */

  .card_modal {
    padding: 20px 25px;
  }

  .card_modal_text {
    width: 100%;
    padding: 5px 5px;
    margin: 0% !important;
  }

  #modal_button {
    padding: 5px 5px;
    margin: 0 auto;
  }

  /* ------------------- Home Card Section */

  .home_cards {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
  }

  .academia {
    padding: 30px 37px;
    border-radius: 30px;
    margin-bottom: 30px;
    background-color: #fff;
    border: 2px solid var(--clr-secondary-1);
  }

  .foro {
    padding: 30px 37px;
    border-radius: 30px;
    border: 2px solid var(--clr-secondary-3);
    background-color: var(--clr-secondary-3);
  }

  .arrow_btn {
    width: 30px;
    height: 30px;
  }

  .link {
    margin: 0 0 10px 0;
  }

  .text_link {
    font-size: 23px;
  }

  .cards_p {
    text-align: left;
    font-size: var(--p);
    line-height: var(--lh-p);
  }
}

/* ------------------- Pantalla Mediana */

@media (min-width: 576px) {

  /* ------------------- Banner Section */

  .section_card_modal {
    display: grid;
    gap: 5px;
    margin-top: 50px;
    text-align: center;
    aspect-ratio: 16/9;
    width: 100%;
    display: grid;
    place-items: center;
    margin: 5% 0% 0% 0%;
    background-position: center;
    background-size: cover;
  }


  .card_modal {
    padding: 20px 25px;
  }

  .card_modal_text {
    padding: 5px 5px;
    margin: 0 auto;
  }

  #modal_button {
    padding: 5px 5px;
    margin: 0 auto;
  }

  /* ------------------- Welcome Section */

  .welcome_section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 5px;

    margin-top: 50px;
  }

  .welcome_title {
    grid-column: 2/-2;
    text-align: center;

    font: var(--t-desktop-three);
    color: var(--clr-primary-2);
  }

  .welcome_p {
    grid-column: 2/-2;

    font: var(--tx-desktop-one);
  }

  /* ------------------- Home Card Section */

  .academia {
    display: flex;
    flex-direction: column;
    padding: 10px 17px;
    background-color: #fff;
    border: 2px solid var(--clr-secondary-3);
    background-color: var(--clr-secondary-3);
  }

  .foro {
    display: flex;
    flex-direction: column;
    padding: 10px 17px;
    border: 2px solid var(--clr-secondary-1);
  }

  .arrow_btn {
    width: 20px;
    height: 20px;
  }

  .text_link {
    color: var(--clr-primary-2);
    font-size: 23px;
  }

}

/* ------------------- Pantalla Grande */

@media (min-width: 992px) {

  .main {
    max-width: 1290px;
    margin: 0 auto;
  }

  /* ------------------- Banner Section */

  .card_modal {
    padding: 50px 20px;
  }

  .card_modal_text {
    padding: 5px 5px;
    margin: 0 auto;
  }

  #modal_button {
    padding: 5px 5px;
    margin: 0 auto;
  }

  /* ------------------- Welcome Section */

  .welcome_p {
    font: var(--tx-desktop-three);
  }

  /* ------------------- Home Card Section */

  .home_cards {
    display: flex;
    flex-direction: row;
    gap: 8%;
    padding: 70px 0px;
  }

  .academia {
    flex: 1;
    padding: 45px 65px;
    box-shadow: none;
  }

  .foro {
    flex: 1;
    padding: 45px 65px;
    box-shadow: none;
  }

  .link {
    margin-top: 30px;
  }

  .arrow_btn {
    width: 30px;
    height: 30px;
  }
}

/* ------------------- Pantalla Extra-Grande */

@media (min-width: 1400px) {

  .main {
    max-width: 1400px;
    margin: 0 auto;
  }
}