.button__back {
  background-color: transparent;
  border: none;
  margin: 5% 0% 0% 5%;
  font-size: 37px;
  color: var(--clr-primary-2);
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 45rem;
  font: var(--tx-mobile-one);

  background-color: #fff;
}

h2 {
  font: var(--tx-desktop-one);
  margin-bottom: 5%;
  font-size: 35px;
  font-weight: var(--fs-inp);
  color: var(--clr-primary-2);
}

.register__inputgroup {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  gap: 4%;
}
.register__input {
  width: 80%;
  height: 12%;
  display: flex;
  flex-direction: column;
  gap: 10% 0%;
}
.register__input {
  border-bottom: 1px solid var(--clr-primary-2);
  width: 70%;
}
input {
  border: none;
  display: flex;
  align-items: center;
  width: 80%;
  align-items: center;
  height: 37px;
}
input:focus {
  outline: #787575;
}
.register__input__password {
  display: flex;
}
.register__input__password__img {
  width: 20%;
  height: 37px;
  text-align: center;
  display: flex;
  font-size: 24px;
  color: var(--clr-primary-2);
  align-items: center;
  justify-content: center;
}
.register__password_property{
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}
.register__password__text{
  display: flex;
  justify-content: flex-start;
  gap: 5%;
}
.register__password__text input{
  width: 5%;
}
.password__text{
  display: flex;
    align-items: center;

}
.register__button {
  display: flex;
  flex-direction: column;
  height: 20%;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
  margin-top: 10%;
}
.register__button button {
  width: 100%;
  height: 42px;
  border-radius: 8px;
  font-weight: boldS;
  cursor: pointer;
  color:var(--clr-primary-2);
  font: var(--ff-one);
}
.register__buttons__pink {
  background-color: var(--clr-primary-1);
  color: #fff;
  border: none;
}
.register__buttons__outline {
  border: 1px solid var(--clr-primary-2);
  background-color: transparent;
  color: var(--clr-primary-2);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
}

.register__footer {
  height: 3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1%;
}

.register__refer a {
  color: var(--clr-primary-2);
  text-decoration: none;
}
@media (min-width: 992px) {
  .register {
    height: 41rem;
  }
  .register__descktop {
    background-color: #fff;
    width: 30rem;
    height: 50rem;
    border-radius: 20px;
  }
}
