.credits{
    margin-top: 3%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.team{
    display: flex;
    flex-direction: column;
    justify-items: center;
    font: var(--t-mobile-one);
    color: var(--clr-two-500);
    margin-top: 10%;
   

}
.subtitlte{
    margin: 7%;

}
.seccionparner{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr ;
    justify-items: center;
    gap: 5% 0%;
}

.parner{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 243px;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 5%;
  
    }
.link{
    font-size: 60px;
    color: var(--clr-two-500);
}
.creditsTitle{
    font: var(--t-desktop-two);
    color: var( --clr-two-500);
}
.userphoto{
    border: 2px solid var(--clr-two-500);
    border-radius: 100px;
}



@media (min-width: 992px) {

    .team{
        width: 90%;
        margin-top: 5%;
    }
 .seccionparner{
    grid-template-columns: 1fr 1fr 1fr;}
}
