/* mobile styles */
.buttonsContainer {
  width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--clr-primary-2);
  padding: 0.3rem 0.5rem;
  margin-left: -0.5rem;
  overflow-x: scroll;
  scrollbar-gutter: stable;
  scrollbar-width: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0.5rem;
}

.buttonsContainer::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.buttonsContainer::-webkit-scrollbar {
  width: 0;
}

.genderButton {
  min-width: 7rem;
  width: 7rem;
  height: 2.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.2rem;
  background-color: #e8e8e8;
  border: none;
  color: var(--clr-secondary-2);
  font-family: var(--ff-one);
  font-size: 12px;
  font-weight: 500;
  transition: all 350ms ease-in;
  cursor: pointer;
}

.genderButton:hover {
  background-color: var(--clr-primary-2);
  color: #fff;
}

/* PC styles */
@media (width >= 920px) {
  .genderButton {
    font-weight: 700;
  }
}
