.publications{
    margin: 1rem;
}
.addCommentBox{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    gap: 20px;
    margin-top: 2.5rem;
}
.addCommentSpam{
    color: var(--clr-primary-2);
    font-family: var(--ff-one);
    font-size: 1.2rem;
}
.penIcon{
    width: 30px;
    height: 30px;
    background-image: url('/assets/images/foro/penIcon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


.inputContainer{
    grid-column: 2/-2;
    background-color: var(--clr-two-50);
    border: 2px solid var(--clr-two-100);
    width: 100%;
    padding: 20px;
    margin-top: 1.4rem;
    margin-bottom: 2rem;
    border-radius: 10px;
}



.subTitle{
    font-family: var(--ff-one);
    color: var(--clr-primary-2);
    text-decoration: underline 2px;
    text-underline-offset: 7px;
    text-align: center;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    font-weight: 400;
}

.boxPublications{
    width: 100%;
}



@media (min-width: 576px) {
    .publications{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }
    .addCommentBox{
        grid-column: 2 /-1;
        justify-content: flex-start;

        margin-top: 2rem;
    }
    
    .inputContainer{
        padding: 25px;
    }


    .subTitle{
        grid-column: 3/-1;

        margin-top: 2rem;
        text-align: left;
    }

    .boxPublications{
        grid-column: 3/-3;
    }
} 
