

.container {
  width: calc(var(150px) * 3); /* Ajusta según el diseño */
  margin: auto;
  max-width: 100%;
  overflow-x: hidden;
}

.carouselContainer {
  display: flex;
  width: calc(var(150px) * var(7) * 30); /* Duplicado para efecto */
  animation: scrollLeft 15s linear infinite;
}

.carouselInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(150px);
  text-align: center;
}

.link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  margin-top: 8px;
}
.link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  margin-top: 8px;
}
.link img {
  object-fit: contain;
}
.animateLeft {
  animation: scrollLeft 30s linear infinite;
}

.animateRight {
  animation: scrollRight 30s linear infinite;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
@media (min-width: 576px) {
  .carouselInner {
    padding: 1rem;
  }
} /* pantalla mediana */

@media (min-width: 992px) {
  .container {
    max-width: 1200px;
  }
} /* pantalla grande */