.containerRed{
    background-color: #fff;
    height: 100vh;
overflow-y: scroll;
    width: 100%;
}
.title{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font: var(--tx-desktop-three);
    color: var( --clr-primary-2);

   
}
.seccionCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.iconform{
    border: none;
    font-size: 50px;
    background-color: transparent;
    color: var( --clr-primary-2);
    display: flex;
    cursor: pointer;
}

.iconform:hover{
    opacity: 0.5;
}

  .modalBackground{
    position: absolute;
    background-color: #a0a0a071 !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }


  .pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}
.paginationSelect select{
    height: 48px;
    width: 70px;
    border: 2px solid var(--clr-two-500);
    padding: 15px;
    border-radius: 8px;
}