/* mobile styles */
.hrContainer {
  display: none;
}

.loginButton {
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.5rem;
  border: none;
  align-self: center;
  border-radius: 0.6rem;
  background-color: var(--principal);
  color: #fff;
  font-size: var(--p);
  font-weight: 700;
  cursor: pointer;
}

.socialNetworkButton {
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  margin-top: 2.3rem;
  background-color: transparent;
  border: 2px solid var(--principal);
  border-radius: 0.6rem;
  color: #333;
  font-size: var(--p);
  font-weight: 400;
  cursor: pointer;
}

.googleIconForMobile {
  display: flex;
}

.googleIconForDesktop {
  display: none;
}

.forgotMyPassword {
  font-size: var(--label);
  font-weight: 500;
  color: var(--principal);
  text-decoration: none;
  margin-top: 3rem;
}

.p {
  display: none;
}

/* tablet styles */
@media (width >= 768px) {
  .loginButton {
    width: 60%;
  }

  .socialNetworkButton {
    width: 60%;
  }
}

/* desktop styles */
@media (width > 920px) {
  .hrContainer {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: flex-start;
    color: var(--principal);
  }

  .hr {
    width: 41%;
    margin: 0.9rem 0 0.9rem 0;
    background-color: var(--principal);
    border: 0.002rem solid var(--principal);
  }

  .loginButton {
    align-self: flex-start;
    height: 3rem;
    margin-top: 0.5rem;
  }

  .socialNetworkButton {
    height: 3rem;
    margin-top: 1.5rem;
    font-size: var(--label);
    font-weight: 700;
    color: var(--principal);
  }

  .googleIconForMobile {
    display: none;
  }

  .googleIconForDesktop {
    display: flex;
  }

  .forgotMyPassword {
    width: 60%;
    align-self: flex-start;
    margin-top: 0.9rem;
  }

  .p {
    width: 60%;
    display: block;
    font-size: var(--p);
    font-weight: 500;
    color: #787575;
    margin-top: 1rem;
    text-align: center;
  }

  .link {
    font-weight: 600;
    color: var(--principal);
    text-decoration: none;
  }
}
