.modalBackground{
position: relative;


}
.modalContainer{
    position: absolute;
    background: #fff !important;
    position: absolute;
    height: 132px;
    top: 46%;
    left: 38%;
    width: 500px;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
.closeButton{
    align-self: flex-end;
    background-color: transparent;
    padding-right: 2%;
    border: none;
    color: var(--clr-two-500);
    font-size: 25px;
    cursor: pointer;
}

.modalButtons{
    align-self: flex-end;
    display: flex;
    gap: 7%;
    padding-right: 5%;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.modalButtonscancel{
    color: var(--clr-two-500);
    font-size: 16px;
    border: 1px solid var(--clr-one-400);
    background-color: #fff;
    width: 130px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
}
.modalButtonsconfirm{
    color: var(--clr-two-500);
    font-size: 16px;
    border: 1px solid var(--clr-one-400);
    background-color: var(--clr-one-400);
    border-radius: 8px;
    width: 130px;
    height: 40px;
    cursor: pointer;
}