/* mobile styles */
.imageWrapper {
  position: relative;
  width: 7.4rem;
  height: 7.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(6, 120, 109, 0.15);
}

.profileImage {
  border-radius: 50%;
  object-fit: cover;
}
