.postBox {
    grid-column: 3/-1;

    background-color: white;
    padding: 1rem;
    border-radius: 20px;
    border: 1px solid var(--clr-two-100);
    overflow: hidden;
    height: fit-content;
    margin-bottom: 1rem;
    z-index: 2;

    -webkit-box-shadow: 0px 0px 13px -12px rgba(54, 54, 54, 1);
    -moz-box-shadow: 0px 0px 13px -12px rgba(54, 54, 54, 1);
    box-shadow: 0px 0px 13px -12px rgba(54, 54, 54, 1);
}

.postHeader {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-bottom: 0.5rem;
}

.imageHeader {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: auto;
    gap: 5px;
}

.authorInfo {
    font-family: var(--ff-one);
    color: var(--clr-primary-2);
    font-size: 0.9rem;
    text-transform: capitalize;
    margin-left: 5px;
}

.strong {
    font-weight: 600;
}

.message {
    background-color: var(--clr-one-50);
    /* color: var(--clr-secondary-2); */
    color: black;
    font-family: var(--ff-one);
    font-weight: 200;
    font-size: 0.8rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    
    border: 1px solid var(--clr-one-200);
    border-radius: 10px;
    height: fit-content;
    max-height: 200px;
    padding: 1rem;
    overflow-y: scroll;
}

@media (min-width: 576px) {
    .postBox {
        grid-column: 2/-1;
    }

    .message {
        background-color: var(--clr-one-50);
        font-size: 0.95rem;
    }

}

@media (min-width: 992px) {
    .authorInfo {
        font-size: 1rem;
    }
    .message {
        padding: 25px;
        font-size: 1.1rem;
    }
}