.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 98;
}

.modalContent {
    position: relative;
    margin: auto;
    background-color: var(--clr-one-100);
    padding: 15px 20px;
    width: 80%;
    max-width: 270px;
    border-radius: 16px;
    z-index: 99;
}
.closeBtn{
    width: 25px;
    height: 25px;
    background-image: url('/assets/images/foro/closeIconBlue.svg');
    background-position: center;
    background-size: contain;
    background-color: transparent;
    border: none;
}
.headerEdit{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.imageHeader{
    aspect-ratio: 1/1;
    width: 40px;
    height: 40px;
    margin-right: auto;
    border-radius: 50%;
}
.textArea{
    font-weight: 200;
    font-size: 0.9rem;
    width: 100%;
    height: 100px;
    margin: 15px 0px;
    padding: 10px;
    overflow-y: scroll;
    border: solid 1px var(--clr-one-200);
    border-radius: 10px;
    resize: none;
    font-family: var(--ff-one);
    color: var(--clr-secondary-2);
}

.modalActions{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.closeButton{
    background-color: white;
    border: .5px solid var(--clr-primary-1);
    color: var(--clr-primary-2);
    padding: 7px;
    border-radius: 5px;
}
.reportButton{
    background-color: var(--clr-primary-1);
    border: .5px solid var(--clr-primary-1);
    color: var(--clr-primary-2);
    padding: 7px;
    border-radius: 5px;
}
.closeButton:hover{
    cursor: pointer;
}
.reportButton:hover{
    cursor: pointer;
}

@media (min-width: 576px) {
    .modalContent {
        max-width: 838px;
    }
    .closeBtn:hover{
        cursor: pointer;
    }

    .closeButton{
        padding: 7px 15px;
    }
    .reportButton{
        padding: 7px 15px;
    }
    .modalActions{
        flex-direction: row;
        justify-content: flex-end;
    }
    
} /* pantalla mediana */
