@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap'); /* por eliminar */

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 100 900;
}

@font-face {
  font-family: 'Philosopher';
  src: url('/assets/fonts/Philosopher/Philosopher-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Philosopher';
  src: url('/assets/fonts/Philosopher/Philosopher-BoldItalic.ttf')
    format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Philosopher';
  src: url('/assets/fonts/Philosopher/Philosopher-Italic.ttf')
    format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Philosopher';
  src: url('/assets/fonts/Philosopher/Philosopher-regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {

  --titulos: #271d24; /* por eliminar */
  --principal: #d6006e; /* por eliminar */
  --secundario: #ffc5e4; /* por eliminar */

  /* 200, 300, 400, 500, 600, 700 */
  --font: 'Montserrat', sans-serif; /* por eliminar */
  
  /* Colores = clr */

  --clr-primary-1: #F17D58 ;
  --clr-primary-2: #06786D ;
  --clr-secondary-1: #FAD8CE ;
  --clr-secondary-2: #454444 ;
  --clr-secondary-3: #FCEBE666;

  --clr-one-50: #FDF5F3;
  --clr-one-100: #FCEBE6;
  --clr-one-200: #FAD8CE;
  --clr-one-300: #F5BDAC;
  --clr-one-400: #ED967C;
  --clr-one-500: #E17252;
  --clr-one-600: #CE5734;
  --clr-one-700: #AD4628;
  --clr-one-800: #8F3D25;
  --clr-one-900: #773825;
  --clr-one-1000: #401A0F;

  --clr-two-50: #EFFEFB;
  --clr-two-100: #C8FFF2;
  --clr-two-200: #91FEE7;
  --clr-two-300: #52F6D9;
  --clr-two-400: #1FE2C6;
  --clr-two-500: #06C6AD;
  --clr-two-600: #029F8E;
  --clr-two-700: #06786D;
  --clr-two-800: #0B645D;
  --clr-two-900: #0E534D;
  --clr-two-1000: #003330;

  /* Tipografía - Font Family = ff */
  --ff-one: Montserrat; /* 100 - 900 */
  --ff-two: Philosopher;

  /* Titulos = t */

  /* Titulos Mobile */
  --t-mobile-one: 600 25px var(--ff-one);
  --t-mobile-two: italic 600 25px var(--ff-two);
  --t-mobile-three: 600 25px var(--ff-two);
  --t-mobile-four: 400 25px var(--ff-one);
  --t-mobile-five: italic 500 30px var(--ff-two);
  --t-mobile-six: 500 30px var(--ff-one);
  --t-mobile-seven: 500 30px var(--ff-two);
  
  /* Titulos Desktop */
  --t-desktop-one: 500 52px var(--ff-one);
  --t-desktop-two: italic 500 52px var(--ff-two);
  --t-desktop-three: 600 52px var(--ff-two);
  --t-desktop-four: 500 40px var(--ff-one);
  --t-desktop-five: 500 40px var(--ff-two);
  --t-desktop-six: 500 52px var(--ff-two);


  /* Textos = tx */

  /* Textos Mobile */
  --tx-mobile-one: 500 16px var(--ff-one);
  --tx-mobile-two: 400 16px var(--ff-one);
  --tx-mobile-three: 600 16px var(--ff-one);

  /* Textos Desktop */
  --tx-desktop-one: 400 20px var(--ff-one);
  --tx-desktop-two: 600 23px var(--ff-one);
  --tx-desktop-three: 400 30px var(--ff-one);
  --tx-desktop-four: 400 23px var(--ff-one);


  /* Font Size textos */
  --fs-text: 16px;
  /* Font Size inputs */
  --fs-inp: 15px;
  /* Font Size titulos */
  --fs-title: 25px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ejemplos de uso */
.titleOneSample {
  font: var(--t-desktop-one);
  color: var(--clr-primary-1);
  letter-spacing: 4px;
}
.titleTwoSample {
  font: var(--t-desktop-two);
  color: var(--clr-primary-2);
  letter-spacing: 4px;
}
.textSample {
  font: var(--tx-mobile-one);
}

/* Break Points - Mobile first */
@media (min-width: 576px) {
} /* pantalla mediana */
@media (min-width: 992px) {
} /* pantalla grande */
@media (min-width: 1400px) {
} /* pantalla extra grande */
