@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');
:root {
  --titulos:#271D24;
  --principal:#D6006E;
  --secundario:#FFC5E4;

/* 200, 300, 400, 500, 600, 700 */
  --font:'Montserrat', sans-serif;
}

