.postBox {
    position: relative;

    width: 100%;
    background-color: var(--clr-one-200);
    padding: 1rem;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 1.2rem;
    z-index: 1;

    -webkit-box-shadow: 4px 4px 9px -6px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 4px 4px 9px -6px rgba(0, 0, 0, 0.54);
    box-shadow: 4px 4px 9px -6px rgba(0, 0, 0, 0.54);
}

.postHeader {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-bottom: 0.5rem;
}

.imageHeader {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: auto;
    gap: 5px;
}

.authorInfo {
    font-family: var(--ff-one);
    color: var(--clr-primary-2);
    font-size: 0.9rem;
    text-transform: capitalize;
    margin-left: 5px;
}

.strong {
    font-weight: 600;
}

.message {
    background-color: white;
    /* color: var(--clr-secondary-2); */
    color: black;
    font-family: var(--ff-one);
    font-weight: 200;
    font-size: 0.8rem;
    white-space: pre-wrap;

    border: 1px solid var(--clr-one-200);
    border-radius: 10px;
    height: fit-content;
    max-height: 200px;
    padding: 1rem;
    overflow-y: scroll;
}

@media (min-width: 576px) {
    .postBox {
        grid-column: 2/-2;

        margin-top: 1.8rem;
    }

    .message {
        background-color: var(--clr-one-50);
        font-size: 0.95rem;
    }

}

@media (min-width: 992px) {
    .authorInfo {
        font-size: 1rem;
    }
    .message {
        padding: 25px;
        font-size: 1.1rem;
    }
}