/* mobile styles */
.inputsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--ff-one);
  gap: 1.3rem;
}

.buttonContainer {
  width: 100%;
}

/* PC Styles */
@media (width >= 920px) {
  .inputsContainer {
    width: 40%;
    margin-left: -20%;
  }

  .buttonContainer {
    margin-bottom: 50%;
  }
}
