.img__l,
.img__xl {
  display: none;

  width: 100%;
}
@media (min-width: 992px) {
  .background {
    position: absolute;
    z-index: -1;
    background-color: #fad8ce6e;
  }
  .img__xl {
    display: none;
  }
  .img__l {
    display: block;
    height: 65rem;
  }
  .register__componet {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60rem;
  }
}
@media (min-width: 1400px) {
  .img__xl {
    display: block;
  }
  .img__l {
    display: none;
  }
}
