/* mobile styles */

/* class for header tag*/
.navContainer {
  position: relative;
  width: 100%;
  height: 6.3rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 1rem 0.5rem 1rem; /*ToDo: fix padding horizontal with the all page */
  background-color: var(--clr-secondary-1);
  font-family: var(--ff-one);
  font-size: 20px;
  font-weight: 600;
  color: var(--clr-secondary-2);
}

.logoContainer {
  width: auto;
  height: auto;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  z-index: 100;
}

/* class for logo img */
.logo {
  display: flex;
  object-fit: cover;
  border-radius: 50%;
}

.navWrapper {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100dvh;
  align-items: center;
  justify-content: flex-end;
  background: rgba(16, 16, 16, 0.4);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(16, 16, 16, 0.3);
  z-index: 100;
  animation: appear 250ms ease-in;
}

/* class for nav tag */
.nav {
  position: relative;
  display: flex;
  width: 80%;
  height: 100%;
  flex-direction: column;
  gap: 2rem;
  background-color: #fff;
  z-index: 110;
}

/* class for Link (a) tag */
.link {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--clr-secondary-2);
  font-size: 20px;
  transition: all ease-in 250ms;
  user-select: none;
}

.link:hover {
  color: var(--clr-primary-2);
  transition-duration: 300ms;
  text-decoration: none;
}

.active {
  color: var(--clr-primary-2);
  text-decoration: underline #fff;
}

.loginButton {
  display: flex;
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  border: none;
  color: var(--clr-primary-2);
  font-size: 20px;
  font-weight: 600;
  align-self: center;
  margin-top: 7%;
}

/* class for div */
.buttonsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

/* class for hamburger button */
.menuButton {
  display: flex;
  width: 2.9rem;
  height: 2.7rem;
  padding: 0;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  z-index: 80;
  cursor: pointer;
}

/*small desktop styles */
@media (width > 820px) {
  /* class for header tag*/
  .navContainer {
    height: 5.3rem;
    padding: 0 0 0 1.7rem; /*ToDo: fix padding left with all padding page */
    align-items: center;
    background-color: var(--clr-secondary-1);
  }

  /* class for logo img */
  .logo {
    height: 4.5rem;
    width: 4.5rem;
  }

  .navWrapper {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    animation: none;
  }

  /* class for nav tag */
  .nav {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: center;
    gap: 0.5rem;
    background-color: transparent;
  }

  .link {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 6rem;
    background-color: transparent;
    text-align: center;
    font-size: var(--fs-text);
    font-weight: 500;
    color: var(--clr-secondary-2);
  }

  .link:hover {
    color: var(--clr-secondary-2);
    background-color: rgba(6, 120, 109, 0.1);
  }

  .active {
    color: #fff;
    background-color: var(--clr-primary-2);
  }

  .loginButton {
    display: none;
  }

  .buttonsContainer {
    display: block;
    height: 100%;
    width: 5.5rem;
    z-index: 140;
  }

  .menuButton {
    display: none;
  }
}

/*long desktop screen */
@media (width > 1120px) {
  .link {
    width: 9rem;
    font-size: 24px;
    font-weight: 500;
  }

  .buttonsContainer {
    width: 7.5rem;
  }
}

/* appear animation */
@keyframes appear {
  from {
    left: 100%;
    opacity: 0.5;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
