/* mobile styles */

/* class for header tag*/
.navContainer {
  position: relative;
  min-width: 100%;
  height: 5.3rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 1rem 0.5rem 1rem; /*ToDo: fix padding horizontal with the all page */
  background-color: var(--secundario);
  font-family: var(--font);
  font-weight: 600;
}

.logoContainer {
  width: auto;
  height: auto;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  z-index: 100;
}

/* class for logo img */
.logo {
  display: flex;
  object-fit: cover;
  border-radius: 50%;
}

/* class for nav tag */
.nav {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99vh;
  z-index: 10;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: var(--secundario);
}

/* class for Link (a) tag */
.link {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--titulos);
  font-size: var(--h5);
  line-height: var(--lh-h5);
  transition: all ease-in 250ms;
  user-select: none;
}

.link:hover {
  color: var(--principal);
  transition-duration: 300ms;
}

.active {
  color: var(--principal);
}

/* class for div */
.buttonsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

/* class for hamburger button */
.menuButton {
  display: flex;
  width: 2.9rem;
  height: 2.7rem;
  padding: 0;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  z-index: 20;
  cursor: pointer;
}

/*small desktop styles */
@media (width > 820px) {
  /* class for header tag*/
  .navContainer {
    padding: 0 0 0 1.7rem; /*ToDo: fix padding left with all padding page */
    align-items: center;
  }

  /* class for logo img */
  .logo {
    height: 4.5rem;
    width: 4.5rem;
  }

  /* class for nav tag */
  .nav {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-self: center;
    gap: 0.5rem;
    background-color: transparent;
  }

  .link {
    height: 100%;
    width: 6rem;
    background-color: transparent;
    text-align: center;
    font-size: var(--p);
    line-height: var(--lh-p);
  }

  .link:hover {
    color: #fff;
    background-color: rgba(214, 0, 111, 0.1);
  }

  .active {
    color: #fff;
    background-color: var(--principal);
  }

  .buttonsContainer {
    display: block;
    height: 100%;
    width: 5.5rem;
    z-index: 100;
  }

  .menuButton {
    display: none;
  }
}

/*long desktop screen */
@media (width > 1120px) {
  .link {
    width: 9rem;
    font-size: var(--h5);
    line-height: var(--lh-h5);
  }

  .buttonsContainer {
    width: 7.5rem;
  }
}
