/* PC styles */
.container {
  width: 83%;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-inline: 4%;
  padding-top: 4%;
}

.wrapper {
  width: 60%;
  min-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.3rem;
  border-radius: 0.8rem;
  border: 1px solid #e6ebef;
  margin-top: 1.5rem;
  font-family: var(--ff-one);
}

.imageContainer {
  width: fit-content;
  height: fit-content;
  border-radius: 0.8rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
}

.image {
  border-radius: 0.8rem;
  object-fit: cover;
}

.span {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--clr-secondary-1);
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-primary-2);
  cursor: pointer;
  pointer-events: none;
}

.inputImage {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 0;
  z-index: 10;
  opacity: 0;
  margin-bottom: 0.8rem;
  cursor: pointer;
}

.title {
  font-size: var(--fs-text);
  font-weight: 500;
  color: var(--clr-secondary-2);
  align-self: flex-start;
  margin-bottom: 0.8rem;
}

.textArea {
  width: 100%;
  font-size: var(--fs-text);
  font-weight: 300;
  color: #4a4a4a;
  resize: none;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--clr-primary-2);
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
}

.saveButtonContainer {
  margin-top: 5%;
  margin-bottom: 2rem;
}
