.moreBtn {
    width: 20px;
    height: 20px;
    aspect-ratio: 1/1;
    background-color: transparent;
    background-image: url("/assets/images/foro/more.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

.menu {
    background-color: white;
    border: 1px solid var(--clr-two-100);
    padding: 5px 10px;
    border-radius: 10px;
}

.dropOption {
    margin: 5px 0px;
    color: var(--clr-primary-2);
    font-family: var(--ff-one);
}

.dropOption:hover {
    transform: scale(0.95);
    cursor: pointer;
}

.dropOption>span:nth-child(1) {
    display: flex;
    gap: 7px;
}

.penIcon {
    width: 20px;
    height: 20px;
    background-image: url("/assets/images/foro/penIcon.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 5px;
}

.closeIcon {
    width: 20px;
    height: 20px;
    background-image: url("/assets/images/foro/closeIconBlue.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 5px;
}

.optionText {
    font-size: var(--ff-one);
}
@media (min-width: 600px) {
    .dropOption {
        margin: 10px 0px;
        color: var(--clr-primary-2);
        font-family: var(--ff-one);
    }
}