.footer{
    display: flex;
   background-image: url("../../../public/assets/img/Onda\ Rosada.svg");
    height:23.25rem;
    align-items: center;
    font-family: var( --font);
    color: var( --titulos);
}
.footer__title{
    width: 100%;
}
.footer__body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0% 5%;
}
.footer__body__contact{
    display: flex;
    gap: 0% 2%;
    width: 20%;
    align-items: center;
    font-size: 16px;

}
.footer__logo{
    display: flex;
    justify-content: center;
    gap: 0% 3%;
}

.footer__footer{
    display: flex;
    justify-content: center;

}
hr{
    background-color: var(--principal);
    width: 50%;
    height: 1px;
}