.footer {
  display: flex;
  background-image: url(../../../public/assets/img/back-phone.png);
  height: 23.25rem;
  align-items: center;
  font-family: var(--font);
  color: var(--titulos);
  flex-direction: column;
  align-content: center;
}
.footer__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 2% 0%;
}

.footer__body {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
  align-items: center;
}
.footer__body__contact {
  display: flex;
  gap: 0% 2%;
  width: 100%;
  align-items: center;
  font-size: 16px;
  height: 100%;
  margin: 1% 0%;
}
.footer__body__contact__icon {
  height: 48px;
  display: flex;
  width: 48px;
  justify-content: center;
  align-items: center;
}
.footer__text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}
.footer__text * {
  margin: 0%;
  padding: 0%;
}
.footer__line {
  display: none;
}
.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0% 5%;
}
.footer__footer * {
  margin: 0%;
}
.footer__footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}


@media only screen and (min-width: 576px) {
  .footer {
    background-image: url(../../../public/assets/img/back-tabla.png);
  }
}
@media only screen and (min-width: 992px) {
  .footer {
    background-image: url(../../../public/assets/img/background.png);
    height: 23.25rem;
    align-items: center;
  }

  .footer__title {
    width: 100%;
    justify-content: space-evenly;
  }

  .footer__body__contact {
    display: flex;
    gap: 0% 2%;
    width: 22%;
    align-items: center;
    font-size: 16px;
  }
  .footer__body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0% 5%;
    margin-top: 4%;
    flex-direction: row;
  }

  .footer__text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: nowrap;
  }
  .footer__text * {
    height: 1%;
    margin: 0%;
    padding: 0%;
  }
  .footer__logo {
    display: flex;
    justify-content: center;
    gap: 0% 3%;
  }

  .footer__footer {
    display: flex;
    justify-content: center;
    gap: 0% 2%n;
  }
  hr {
    background-color: var(--principal);
    width: 65%;
    height: 1px;
  }
  .footer__line{
    display: contents;
    }


}
