.footer{
    display: flex;

    height:23.25rem;
    align-items: center;
    font-family: var( --font);
    color: var( --titulos);
}
.footer__background{
    display: flex;
    align-items: center;
    width: 100%;
    position: absolute;
    z-index: -1
    ;
}
.footer__background svg{
    position: absolute;
    width: 100%;
    z-index: -1;


    
}
path{
    stroke: none; 
    fill: var(--secundario);
}
.footer__title{
    width: 100%;
}
.footer__body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0% 5%;
    margin-top: 4%;
}
.footer__body__contact{
    display: flex;
    gap: 0% 2%;
    width: 20%;
    align-items: center;
    font-size: 16px;

}
.footer__text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}
.footer__text *{
    height: 1%;
    margin: 0%;
    padding: 0%;
}
.footer__logo{
    display: flex;
    justify-content: center;
    gap: 0% 3%;
}

.footer__footer{
    display: flex;
    justify-content: center;
    gap: 0% 2%n

}
hr{
    background-color: var(--principal);
    width: 80%;
    height: 1px;
}