/* mobile styles */

.mobileContainer {
    width: 100%;
    padding-inline: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    flex-direction: row;
    gap: 1.2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.8rem;
}

.goBackButton {
    width: fit-content;
    height: fit-content;
    border: none;
    background-color: transparent;
    color: var(--clr-primary-2);
}

.title {
    color: #333;
    font-size: var(--fs-title);
    font-weight: 700;
    font-family: var(--ff-one);
}

.quienessomosDesktopContainer {
    display: none; 
}

/* desktop styles */
@media (min-width: 820px) {
    .mobileContainer {
        display: none;
    }

    .quienesSomosDesktopContainer {
    display: flex;
        flex-direction: row;
        width: 1440px;
       
        height: 800px;
    
        align-items: center;
        justify-content: center;
        border-radius: 1.1rem;
        background-color: var(--clr-secondary-1);
        margin-inline: auto;
        margin-top: 3rem;
        margin-bottom: 2rem;
        overflow: hidden;
        gap: 30px;
  
        
    }

    .quienesSomosBannerImg {
        width: 100%;
        height: 617px;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 0.4rem;
        border-bottom-left-radius: 0.4rem;
    }

    .quienesSomosBannerTextBox {
        width: 60%;
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem 1rem;
        gap: 0.8rem;
        font-family: var(--ff-one);
    }

    .quienesSomosBannerTitle {
    font-size: 50px;
    font-weight: 600;
    color: var(--clr-secondary-2);
    text-align: center;
    color: var(--clr-primary-2);
        font-family: var(--ff-two);
        font-style: italic;
        
    }

    .quienesSomosBannerMessage {
    font-size: var(--fs-title);
    font-weight: 500;
    color: var(--clr-secondary-2);
    text-align: center;
    text-wrap: pretty;
      
    }
}

@media (min-width: 1440px) {
    .desktopContainer {
        width: 85%;
        height: 20rem;
    }
}

@media (min-width: 2000px) {
    .desktopContainer {
        width: 65%;
    }
}

/* Estilos para la vista QuienesSomos */


/* Estislos para la vista Programa */

.programaDesktopContainer {
    display: none;
}

/* desktop styles */
@media (min-width: 820px) {
    .mobileContainer {
        display: none;
    }

    .programaDesktopContainer {
        display: flex;
        flex-direction: row;
        width: 1440px; 
        height: 500px;
        align-items: center;
        justify-content: center;
        border-radius: 1.1rem;
        background-color: var(--clr-secondary-1);
        margin-inline: auto;
        margin-top: 3rem;
        margin-bottom: 2rem;
        overflow: hidden;
        gap: 30px;


    }

    .programaBannerImg {
        width: 100%;
        height: 617px;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 0.4rem;
        border-bottom-left-radius: 0.4rem;
    }

    .programaBannerTextBox {
        width: 60%;
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem 1rem;
        gap: 0.8rem;
        font-family: var(--ff-one);
    }

    .programaBannerTitle {
        font-size: 50px;
        font-weight: 600;
        color: var(--clr-secondary-2);
        text-align: center;
        color: var(--clr-primary-2);
        font-family: var(--ff-two);
        font-style: italic;

    }

    .programaBannerMessage {
        font-size: var(--fs-title);
        font-weight: 500;
        color: var(--clr-secondary-2);
        text-align: center;
        text-wrap: pretty;

    }
}