/* pruebasbanner.module.css */

/* Estilos generales para todos los banners */
.banner {
    /* Estilos comunes para todos los banners */
    padding: 20px;
    border: 1px solid #ccc;
}

/* Estilos específicos para la página "Quiénes somos" */
.quienesomos-banner {
    background-color: #f9f9f9;
    color: #333;
}

/* Estilos específicos para la página "Foro" */
.foro-banner {
    background-color: #e6f7ff;
    color: #0066cc;
}

/* Estilos específicos para la página "Programa" */
.programa-banner {
    background-color: #f3e8e8;
    color: #cc0000;
}