.container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: -1.2rem 0 2rem 7rem;
}

.imageWrapper {
  position: relative;
  width: fit-content;
  height: fit-content;
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #daebe9;
}

.profileImage {
  object-fit: cover;
  border-radius: 50%;
}

.editPicButton {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  bottom: 0.8rem;
  right: -0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--clr-primary-1);
  z-index: 10;
  cursor: pointer;
}

.buttonsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1.2rem;
}

.button {
  width: 3.7rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.4rem;
  border: none;
  background-color: #e8e8e8;
  color: var(--clr-secondary-2);
  cursor: pointer;
}

.deleteButton {
  color: #f03131;
}

/*arreglar esto */
.inputFile{
  color:transparent;
  transform: translateY(70px) translateX(-70px);
}