/* Nosotros.module.css */

.container {
    max-width: 1086px;
    margin: 0 auto;
    padding: 20px;
   
}

.heading {
font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 35px;
    line-height: 65px;
    text-align: left;
    color: #02385F;
    margin-bottom: 65px;
    position: relative;
    
}

.heading::after {
  content: '';
  /* Necesario para generar el pseudo-elemento */
  display: block;
  /* Hace que el pseudo-elemento sea como un bloque */
  height: 3px;
  /* El grosor de tu línea, igual al border-bottom original */
  background-color: #02385F;
  /* El color de tu línea, igual al color del texto */
  width: 40%;
  /* El largo del subrayado que desees, ajusta este valor */
  position: absolute;
  /* Posicionamiento absoluto respecto al heading */
  bottom: -20px;
  /* La distancia entre la línea y el texto, ajusta este valor */
  left: 0;
  /* Alineación a la izquierda */
}

.paragraph {
font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 32.5px;
  text-align: justify;
  color: #1D1D1B;
  margin-bottom: 50px;
}