.card{
    display: flex;
    margin: 2% 0%;
    border-top: 3px solid var(--clr-two-200);
    border-radius: 4px 4px 0px 0px;
    padding: 3% 0%;
    background-color: #ebebeb;

}
.cardBody{
    display: flex;
   align-items: center;
    height: 12vw;

}

.cardTitle{
    display: flex;
    justify-content: space-around;
}
.cardTextAside{
    width: 150px;
    align-self: center;
}
.cardText {
    width: 448px;

}
.cardContent{
    margin-left: 4%;
    height: 100%;
    display: flex;
    padding: 0% 3%;
    width: 60vw;
    justify-content: space-between;

}
.cardTextAsideTitle{
    color: var(--clr-two-500);
    font: var(--tx-desktop-three);
    font-size: 20px;
}
.icon{
    display: flex;
    flex-direction: column;
    gap: 7%;
    justify-content: flex-start;
    
}
.iconTrash{
    border: none;
    width: 90px;
    height: 50px;
    color: red;
    border-radius: 5px;
    font-size: 25px;
}
.iconEdit{
    border: none;
    width: 90px;
    height: 50px;
    color: black;
    border-radius: 5px;
    font-size: 25px;
}
.iconEdit:hover, .iconTrash:hover{
box-shadow: 1px 1px 4px var(--clr-two-300);
background-color: var(--clr-two-50);
}
.cardTextTop{
    display: flex;
    color: var(--clr-two-500);
    font:var(--tx-desktop-three);
    font-size: 20px;
    font-weight: bolder;
}
.cardTextDescription{
    width: 80%;
    height: 109px;
    border: none;
    background-color: #ffff;
}
.inpuUpload{
    display: none;
}
.inputname{
    height: 109px;
    width: 111px;
    border: none;
    background-color: #ffff;

        
}
.iconimage{
    position: absolute;
    top: 31%;
    left: 32%;
    background: #9b9fa1;
    height: 35px;
    font-size: 27px;
    width: 35px;
    text-align: center;
    border-radius: 100%;

}
.textacademia{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 60vw;
}

.academiainput * {
    border: none;
    height: 5vw;
    width: 135px;
    
}