/* mobile styles */
.container {
  width: 100%;
  min-height: 100dvh;
  padding: 1rem 1rem 1.5rem 1rem;
}

.cardWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.7rem;
  margin-top: 1.7rem;
  align-items: center;
  justify-content: center;
}

/* PC styles */
@media (width > 920px) {
  .container {
    width: 80%;
    margin: auto;
  }

  .cardWrapper {
    grid-template-columns: repeat(2, 23rem);
    gap: 4rem;
  }
}

/* long screens */
@media (width > 1200px) {
  .cardWrapper {
    grid-template-columns: repeat(2, 25rem);
    gap: 6rem;
  }
}
