.form {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
}

.searchIcon {
  grid-column: -2/-1;
  grid-row: 1;

  background-image: url('/assets/images/foro/searchIcon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: transparent;
  width: 25px;
  height: 25px;
  justify-self: center;

}

.inputTwo {
  grid-column: 1/-1;
  grid-row: 1;

  border: 1px solid var(--clr-primary-2);
  border-radius: 10px;
  height: 58px;
  padding: 4px;
  font-family: var(--ff-one);
  font-size: 1.3rem;
  font-weight: 200;
  text-indent: 16px;
}


@media (min-width: 576px) {
  .form {
    grid-column: 3/-3;
    padding-inline: 30px;
  }
}

@media (min-width: 976px) {
  .form {
    grid-template-columns: repeat(16, 1fr);
    padding-inline: 100px;
  }
}