/* mobile styles */
.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 1.2rem;
  margin: 1rem 0;
}

.inputContainer {
  position: relative;
  width: 100%;
  height: 2.5rem;
  border-radius: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  width: 100%;
  height: 100%;
  border-radius: 0.6rem;
  outline: none;
  border: 1px solid var(--clr-primary-2);
  font-size: 22px;
  font-weight: 300;
  color: #787575;
  padding-inline: 1rem;
}

.icon {
  position: absolute;
  right: 1.5rem;
  color: var(--clr-primary-2);
}

/* PC styles */
@media (width > 767px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    column-gap: 7rem;
  }
}

/* long screens */
@media (width > 2000px) {
  .container {
    width: 80%;
  }
}
