.busquedaContainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;


    margin: 2rem 1rem 1rem 1rem;
}

.listContainer{
    margin: 1rem;
    min-height: 500px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}
.resultList{
    grid-column: 1/-1;
}
.noPosts{
    font-family: var(--ff-one);
    font-weight: 400;
    font-size: 1rem;
    color: var(--clr-primary-2);
    padding: 1px;
    text-align: center;
    margin: 50px 0;
}
.pagination{
    grid-column: 1/-1;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    width: 100%;
    color: var(--clr-secondary-2);
    font-family: var(--ff-one);
}
.select{
    border: 0.3px solid var(--clr-two-500);
    padding: 8px;
    width: 55px;
    border-radius: 5px;
    background-color: transparent;
}

@media (min-width: 576px) {
    .listContainer{
        min-height: 800px;
    }
    .busquedaContainer{
        grid-template-columns: repeat(12,1fr);
    }
    .pagination{
        font-size: 1.1rem;
    }
}

@media (min-width: 992px) {
    .busquedaContainer{
        margin: 3rem 1rem 1rem 1rem;
    }
    
    .listContainer{
        grid-template-columns: repeat(12, 1fr);
    }
    .resultList{
        grid-column: 3/-3;
    }

} /* pantalla grande */
@media (min-width: 1400px) {
} /* pantalla extra grande */
