.navbar {
  display: flex;
  height: 15vh;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-one-300);
}
.hamburgerMenu {
  display: block;
}
.pages {
  display: none;
}

.logoweb {
  display: none;
}
.menuToggle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 20vw;
  animation:  250ms ease-in;
}
.perfil {
  font-size: 25px;
}
.perfilWeb {
  display: none;
}


.menuToggle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 20vw;
}

.menuToggle .hamburgerMenu {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 35px;
  height: 100%;
  align-items: center;
}

.menuToggle .pages {
  display: none;
}

/* Agrega reglas para cuando el menú está abierto */
.menuToggle.open .hamburgerMenu {
  display: none;
}

.menuToggle.open .pages {
  display: flex;
  flex-direction: column;
  animation: slideDown 250ms ease-in; /* Agrega la animación cuando el menú está abierto */
}

/* Define la animación para el desplazamiento hacia abajo */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}




@media (min-width: 992px) {
  .menuToggle {
    display: none;
  }
  .navbar {
    height: 20vh;
  }
  .logomovil {
    display: none;
  }
  .logoweb {
    display: block;
    margin-right: 2%;
  }
  .logoweb * {
    width: 230px !important;
    height: 110px;
    display: block;
  }
  .pages {
    display: flex;
    align-items: center;
    list-style: none;
    width: 70vw;
    justify-content: space-between;
    height: 17vh;
  }
  .pages button {
    border: none;
    font: var(--t-desktop-one);
    font-size: 24px;
    background-color: transparent;
    color: var(--clr-two-700);
    width: 135px;
    height: 17vh;
  }
  .pages button:hover {
    background-color: var(--clr-two-500);
    text-decoration: underline;
    color: white;
    width: 135px;
    height: 20vh;
  }
  .perfilWeb {
    color: white;
    background-color: var(--clr-two-500);
    width: 10vw;
    height: 100%;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
  }
  .styles.imgPuttonPerfil{
    width: 10vw;
    height: 100%;
  }
  .tooltip {
    position: relative;
    display: inline-block;
  }
  .tooltip .tooltiptext {
    visibility: hidden;
    display: flex;
    width: 177px;
    height: 45px;
    background-color: rgb(255, 255, 255);
    color: var(--clr-two-500);
    text-align: center;
    padding: 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font: var(--t-desktop-one);
    border: 1px solid var(--clr-one-300);
    font-size: 16px;
    right: 0%;
    top: 139%;
    align-items: center;
    justify-content: center;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  .dropdownContent{

    position: absolute;
    background: #fff;
    border: 1px solid var(--clr-one-300);
    width: 10vw;
    top: 18vh;
    right: 0%;
  }

.logoutButton{
    color: var(--clr-two-500);
    font-size: 16px;
    border: none;
    background-color: #fff;
    width: 168px;
    height: 40px;
    font: var(--t-desktop-one);
    font-size: 20px;
    margin-bottom: 2%;
   
}
.logoutButton:hover{
    color: var(--clr-two-500);
}
}

@media (min-width: 1400px) {
    .navbar {
        height: 17vh;
      }
    .pages button:hover {
        background-color: var(--clr-two-500);
        text-decoration: underline;
        color: white;
        width: 135px;
        height: 17vh;
      }
}