
.tituloRed {
    color: #02385F;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 2rem;
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 600;
    line-height: 45.5px;
    text-align: center;
    
}
.carruselUno {
    height: 100px;
    margin-bottom: 100px;
    
}

.carrusel-item {
    text-decoration: none;
}

.imagenCarrusel {
    max-width: 50%;
    /* Esto hará que la imagen sea responsiva */
    height: auto;
    padding-bottom: 0px;
    /* Esto mantendrá la proporción de la imagen */
    /* Ajusta el tamaño máximo según lo que necesites */
}

.nombreOrganizacion {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 25px;
    line-height: 32.5px;
    text-align: center;
    color: #02385F;
    width: 179px;
    text-decoration: none !important;
    height: 32px;
}

@media (max-width: 768px) {
    .nombreOrganizacion {
        font-size: 20px;
        line-height: 26px;
    }
}

/* Estilos para pantallas de hasta 480px de ancho (móviles) */
@media (max-width: 480px) {
    .nombreOrganizacion {
        font-size: 18px;
        line-height: 23px;
        
    }
}

@media (width >=1440px) {
  
    }


@media (width > 2000px) {
   
    }



/* desktop styles */
@media (width > 820px) {
  
    }