
.tituloRed {
    color: #02385F;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 2rem;
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 600;
    line-height: 45.5px;
    text-align: center;
    
}
.carruselUno {
    height: 100px;
    margin-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    
}

.carrusel-item {
    text-decoration: none;
}

.imagenCarrusel {
    max-width: 50%;

    height: auto;
    padding-bottom: 0px;

}

.nombreOrganizacion {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 25px;
    line-height: 32.5px;
    text-align: center;
    color: #02385F;
    width: 179px;
    text-decoration: none !important;
    height: 32px;
}

@media (max-width: 768px) {
    .nombreOrganizacion {
        font-size: 20px;
        line-height: 26px;
    }
}

/* Estilos para pantallas de hasta 480px de ancho (móviles) */
@media (max-width: 768px) {
    .nombreOrganizacion {
        font-size: 12px;
        /* Tamaño de texto más pequeño para móviles */
       text-align: center;
    }

    .descripcionCarrusel {
        font-size: 1px;
        /* Tamaño de texto más pequeño para móviles */
        padding: 8px;
            
        /* Padding ajustado para móviles */
    }

    /* Ajusta el tamaño de la imagen para móviles si es necesario */
    .imagenCarrusel {
        max-width: 100%;
        /* Ajusta el ancho al 100% para que sea responsivo */
        height: auto;
        /* Mantiene la proporción de la imagen */
    }
        .carruselUno {
            height: 0px;
            padding-left: 20px;
            padding-right: 20px;
            margin-bottom: 50px;

        }
}


/* desktop styles */
@media (width > 820px) {
  
    }