.containerRed{
    background-color: #fff;
    height: 100vh;
overflow-y: scroll;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font: var(--tx-desktop-three);
    color: var( --clr-primary-2);
    width: 78%;

   
}
.seccionCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttonsave{
    width: 324px;
    height: 55px;
color:var( --clr-two-500);
border-radius: 10px;
background-color: var(--clr-one-400);
font: var( --t-desktop-one);
font-size: 24px;
border: none;
margin: 12vw 0vw 0vw
}